/*For å få siden til å strectche ut hele pagen*/
*{
margin: 0;
padding 0;
border 0;
}


body{
    border: 12px solid aqua;
}

.parallax{
    /*linear gradient for å gjøre bilde mørkere*/
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),  url('test1.jpg');
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
parallax-inner{
    padding top 30%;
    padding-bottom: 30%; 
}



nav{
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 23.6%;
    padding-right: 10%;
}

span{
    color:#ea1539
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1539;
    transition: .3s;
}

h1{
    padding: 13% 0;
    text-align: center;
    font-size: 500%;
    color: E75B00;
    letter-spacing: 3px;
}

h2{
    color: aqua;
}
h3{
    font-size: 160%;
}
p2{
    color: aqua;
}


.bod{
    display: flex;
    flex-direction: column;
}

.image-container{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image{
    min-height: 100px;
    min-width: 500px;
    border: 3px solid #E75B00;
}

.storbeskrivelse{
    padding: 70px 0;
    text-align: center;
    font-family: Georgia, serif;
    
    
}
.litenbeskrivelse{
    padding: 70px 0;
    text-align: center;
}
